<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smpte.st2071.mdcp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="net.posick.ws.REGISTER_ENDPOINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="MDCPForAndroid" >
        <activity
            android:name="org.smpte.st2071.mdcp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:icon="@drawable/ic_launcher" android:name="org.smpte.st2071.mdcp.MDCPService" android:stopWithTask="false" android:logo="@drawable/ic_launcher" android:singleUser="false" android:exported="true" android:label="@string/app_name" android:enabled="true" android:permission="net.posick.ws.REGISTER_ENDPOINT">
            <intent-filter>
                <category android:name="net.posick.ws.ENDPOINT_CALLBACK" />
            </intent-filter>
        </service>
        <service android:icon="@drawable/ic_launcher" android:name="org.smpte.st2071.mdcd.MDCDService" android:stopWithTask="true" android:logo="@drawable/ic_launcher" android:singleUser="false" android:exported="false" android:label="@string/app_name" android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </service>
        <receiver android:name="org.smpte.st2071.mdcd.NetworkConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        </application>
</manifest>
